<div class="banner" >
  <div class="container">
  <div class="row">
    <div class="col mobile-hide">
    </div>
    <div class="col">
      <% if @cocktails.count == 0 %>
          <%= render "../shared/new_cocktail" %>
      <% elsif @cocktails.count <= 2 %>
          <div class="card-container">
            <div class="container _secondary-card-container">
              <h5> Featured Cocktails! </h5>
              <% @cocktails.each do |cocktail| %>
                <%= link_to cocktail_path(cocktail) do   %>
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, crop: :fill %>')">
                    <%= cocktail.name %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      <% elsif @cocktails.count >= 2 %>
          <div class="card-container">
            <h5> Featured Cocktails! </h5>
            <% @cocktails.sample(2).each do |cocktail| %>
              <%= link_to cocktail_path(cocktail) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
                  <p><%= cocktail.name %></p>
                  <% if @review.where(cocktail_id: cocktail).count == 0 %>
                    <%= "" %>
                  <% else %>
                  <p>
                    <% (@review.where(cocktail_id: cocktail).sum(:rating) / @review.where(cocktail_id: cocktail).count).times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  </p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <h5> Scroll down to see more! </h5>
          </div>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="container _all_container mt-4">
  <% if @cocktails.count > 2 %>
      <div class="cards">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
              <p> <%= cocktail.name %> </p>
              <p>
              <% if @review.where(cocktail_id: cocktail).count == 0 %>
                <%= "" %>
              <% else %>
                <% (@review.where(cocktail_id: cocktail).sum(:rating) / @review.where(cocktail_id: cocktail).count).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>
