<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" class="button-navbar">Add a Cocktail</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your Cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div>
              <%= image_tag("https://media.giphy.com/media/3o7TKDhgKC52OZhV0k/source.gif", class: "img-create-modal mb-4") %>
            </div>
            <%= simple_form_for (Cocktail.new), method: :post, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
            <div class="form-row">
              <!-- <div class="col"> -->
              <%= f.label 'Name', class: "new-form-name mr-4" %>
              <%= f.input :name, class: "form-control new-form-name" %>
              <!-- </div> -->
            </div>
            <div class="form-row">
              <%= f.label 'Photo', class: "new-form-name mt-4 mr-4" %>
              <%= f.input :photo, as: :file, class: "form-control new-form-name mt-4", label: false %>
            </div>
           <div class="form-group row">
          <%#= f.submit "Create Cocktail", class: "btn btn-secondary" %>
          <%#= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
          </div>

      </div>
      <div class="modal-footer _new_footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <%= f.submit "Create Cocktail", class: "btn btn-success" %>
      </div>
       <% end %>
    </div>
  </div>
</div>
